
@{
    ViewBag.Title = "Conflict";
}

<!--this page is used to show the conflict message if the time is conflicted-->

<h2>This Time for Reservation Have Already Booked. 
    
    </h2>
<div>
    <p>
        Click the link to back to previous page.
    </p>
</div>
<div>
    @Html.ActionLink("Back", "Create")
</div>
