@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:white">

        <h1>Online Appointment</h1>
        <p class="lead">OA is a web for making an appointment with your doctor online.</p>
        <p><a href="http://localhost:64182/Hospitals/Index" class="btn btn-primary btn-lg">Our Hospital &raquo;</a></p>
</div>


    <div class="col-md-4">
        <style>
            .jumbotron {
                background-image: url('../../Content/update.png');
            }
        </style>
    </div>
